.box{
margin-top: 80px;

}


.onhead{
position: absolute;
margin-left: 45vh;
 margin-top: 35vh;

}

.bodyimg{
margin-bottom: 40vh;

}

.D-1{

    color: #0f2b4a;
    font-style: normal;
    font-weight: 600;
    font-size: 50px; 
     line-height: 80px;
     font-size: 80px;
     margin-top: 100px;

}

.D-2{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;


}

.form-label{
    font-size: 20px;
    font-weight: 400;

}


.form-control{

   padding-top: 20px;
   border-style: none;

}
    .btn-1{
        padding: 15px 32px;

}

.btn-1-inside{
    padding: 12px 35px;
      font-size: 16px;
      text-align: center;
}


